.navbar
    -webkit-backdrop-filter: saturate(180%) blur(20px)
    backdrop-filter: saturate(180%) blur(20px)
    background-color: rgba(255,255,255,0.7) !important

.motto
    text-align: center
    cursor: pointer
    padding: 1rem
    border: none !important

// Card
.order-2 .card:hover
    transform: translateY(-10px)
    box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1)
    -webkit-transform: translateY(-10px)
    -webkit-box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1)

// Add .controller (article.jsx) to invalidate the motion on the article page
.order-2 .controller ~ .card:hover
    transform: none
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)
    -webkit-transform: none
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1)

.card
    transition: background-color .3s,opacity 0.3s ease-out, transform 0.3s ease-out, box-shadow 0.6s !important
    background-color: #FFFFFF !important
.card-link:hover
    color: inherit !important

// Card Image
.card:hover
    .card-image a
        -webkit-transform: scale(1.03)
        transform: scale(1.03)

.card .card-image a
    -webkit-transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    -webkit-transform 400ms cubic-bezier(0.4, 0, 0.25, 1),200ms -webkit-filter linear
    transition: opacity 1s cubic-bezier(0.4, 0, 0.25, 1),
    transform 400ms cubic-bezier(0.4, 0, 0.25, 1),200ms filter linear

// Fix border radius when transforming
.card-image
    transform: rotate(0deg)
    -webkit-transform: rotate(0deg)

// Base CSS framework
@import '../../include/style/base'
// Helper classes & mixins
@import '../../include/style/helper'
// Icarus components
@import '../../include/style/button'
@import '../../include/style/card'
@import '../../include/style/article'
@import '../../include/style/navbar'
@import '../../include/style/footer'
@import '../../include/style/pagination'
@import '../../include/style/timeline'
@import '../../include/style/search'
@import '../../include/style/codeblock'
@import '../../include/style/widget'
@import '../../include/style/donate'
@import '../../include/style/plugin'
@import '../../include/style/responsive'

body { 
    //background-image: url(https://img.picui.cn/free/2024/06/02/665c2db6eae66.png);//改成自己的背景地址
    //background-position: center center;//居中显示图片
    //background-repeat: no-repeat;//如果不指定则会重复显示图片直到把页面填满
    //background-attachment: fixed;//固定图片不随页面滚动
    //background-size: cover;//指定图片大小为覆盖整个页面
    background-color: #E0E0E0;//当然你也可以只指定背景色
}